$borderGray: #C4C4C4;
$textGray: #898583;
$bgDisable: #EFEEEE;
$white: #ffffff;
$black: #35100C;
$btnActive: #120C35;
$textSuccessColor: #1D9A39;
$textIndifferentColor: #FF9635;
$textAngryColor: #F93131;
$textColorEmpty: #AFAAA8;